---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: alvin-postgres-volume-claim
  labels:
    app: alvin-postgres
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 20Gi

---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: alvin-archive-read-write-volume-claim
  labels:
    app: alvin-archive
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 20Gi

---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: alvin-converted-files-read-write-volume-claim
  labels:
    app: alvin-converted-files
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 20Gi

---

apiVersion: v1
kind: PersistentVolume
metadata:
  name: alvin-build-postgres-volume
  labels:
    type: local
    app: alvin-build-postgres
spec:
  storageClassName: manual
  capacity:
    storage: 20Gi
  accessModes:
    - ReadWriteMany
  hostPath:
    path: /mnt/minikube/alvin/build/postgresql
  claimRef:
    namespace: alvin-build
    name: alvin-postgres-volume-claim

---

apiVersion: v1
kind: PersistentVolume
metadata:
  name: alvin-build-archive-volume
  labels:
    type: local
    app: alvin-build-archive
spec:
  storageClassName: manual
  capacity:
    storage: 20Gi
  accessModes:
    - ReadWriteMany
  hostPath:
    path: /mnt/minikube/alvin/build/archive
  claimRef:
    namespace: alvin-build
    name: alvin-archive-read-write-volume-claim

---

apiVersion: v1
kind: PersistentVolume
metadata:
  name: alvin-build-converted-files-volume
  labels:
    type: local
    app: alvin-build-converted-files
spec:
  storageClassName: manual
  capacity:
    storage: 20Gi
  accessModes:
    - ReadWriteMany
  hostPath:
    path: /mnt/minikube/alvin/build/convertedFiles
  claimRef:
    namespace: alvin-build
    name: alvin-converted-files-read-write-volume-claim
    
---

