---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: alvin-postgres-volume-claim
  labels:
    app: alvin-postgres
spec:
  storageClassName: rook-cephfs
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 20Gi

---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: alvin-archive-read-write-volume-claim
  labels:
    app: alvin-archive
spec:
  storageClassName: rook-cephfs
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 20Gi

---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: alvin-converted-files-read-write-volume-claim
  labels:
    app: alvin-converted-files
spec:
  storageClassName: rook-cephfs
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 20Gi

---

