---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: diva-postgres-volume-claim
  labels:
    app: diva-postgres
spec:
  storageClassName: rook-cephfs
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 20Gi

---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: diva-archive-read-write-volume-claim
  labels:
    app: diva-archive
spec:
  storageClassName: rook-cephfs
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 20Gi

---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: diva-converted-files-read-write-volume-claim
  labels:
    app: diva-converted-files
spec:
  storageClassName: rook-cephfs
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 20Gi

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: diva-credentials-read-write-volume-claim
  labels:
    app: diva-credentials
spec:
  storageClassName: rook-cephfs
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 20Gi
