---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: diva-postgres-volume-claim
  labels:
    app: diva-postgres
spec:
  storageClassName: fast
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 20Gi

---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: diva-archive-read-write-volume-claim
  labels:
    app: diva-archive
spec:
  storageClassName: fast
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1000Gi

---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: diva-index-read-write-volume-claim
  labels:
    app: diva-index
spec:
  storageClassName: fast
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 20Gi

---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: diva-converted-files-read-write-volume-claim
  labels:
    app: diva-converted-files
spec:
  storageClassName: fast
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 20Gi

---
