---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: diva-postgres-volume-claim
  labels:
    app: diva-postgres
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 20Gi

---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: diva-archive-read-write-volume-claim
  labels:
    app: diva-archive
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 20Gi

---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: diva-converted-files-read-write-volume-claim
  labels:
    app: diva-converted-files
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 20Gi

---

apiVersion: v1
kind: PersistentVolume
metadata:
  name: diva-preview-postgres-volume
  labels:
    type: local
    app: diva-preview-postgres
spec:
  storageClassName: manual
  capacity:
    storage: 20Gi
  accessModes:
    - ReadWriteMany
  hostPath:
    path: /mnt/minikube/diva/preview/postgresql
  claimRef:
    namespace: diva-preview
    name: diva-postgres-volume-claim

---

apiVersion: v1
kind: PersistentVolume
metadata:
  name: diva-preview-archive-volume
  labels:
    type: local
    app: diva-preview-archive
spec:
  storageClassName: manual
  capacity:
    storage: 20Gi
  accessModes:
    - ReadWriteMany
  hostPath:
    path: /mnt/minikube/diva/preview/archive
  claimRef:
    namespace: diva-preview
    name: diva-archive-read-write-volume-claim

---

apiVersion: v1
kind: PersistentVolume
metadata:
  name: diva-preview-converted-files-volume
  labels:
    type: local
    app: diva-preview-converted-files
spec:
  storageClassName: manual
  capacity:
    storage: 20Gi
  accessModes:
    - ReadWriteMany
  hostPath:
    path: /mnt/minikube/diva/preview/convertedFiles
  claimRef:
    namespace: diva-preview
    name: diva-converted-files-read-write-volume-claim
    
---

