---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: systemone-postgres-volume-claim
  labels:
    app: systemone-postgres
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 20Gi

---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: systemone-archive-read-write-volume-claim
  labels:
    app: systemone-archive
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 20Gi

---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: systemone-converted-files-read-write-volume-claim
  labels:
    app: systemone-converted-files
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 20Gi

---


apiVersion: v1
kind: PersistentVolume
metadata:
  name: systemone-build-postgres-volume
  labels:
    type: local
    app: systemone-build-postgres
spec:
  storageClassName: manual
  capacity:
    storage: 20Gi
  accessModes:
    - ReadWriteMany
  hostPath:
    path: /mnt/minikube/systemone/build/postgresql
  claimRef:
    namespace: systemone-build
    name: systemone-postgres-volume-claim

---

apiVersion: v1
kind: PersistentVolume
metadata:
  name: systemone-build-archive-volume
  labels:
    type: local
    app: systemone-build-archive
spec:
  storageClassName: manual
  capacity:
    storage: 20Gi
  accessModes:
    - ReadWriteMany
  hostPath:
    path: /mnt/minikube/systemone/build/archive
  claimRef:
    namespace: systemone-build
    name: systemone-archive-read-write-volume-claim

---

apiVersion: v1
kind: PersistentVolume
metadata:
  name: systemone-build-converted-files-volume
  labels:
    type: local
    app: systemone-build-converted-files
spec:
  storageClassName: manual
  capacity:
    storage: 20Gi
  accessModes:
    - ReadWriteMany
  hostPath:
    path: /mnt/minikube/systemone/build/convertedFiles
  claimRef:
    namespace: systemone-build
    name: systemone-converted-files-read-write-volume-claim
    
---

